@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&display=swap');

:root {
    --main-color: #1f4c14;
    font-family: 'Playfair Display SC', normal;
}

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, p, section, header, main,
footer {
    margin: 0;
    padding: 0;
}

html {
  background-color: #dbffbb;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    font-family: 'Playfair Display SC', bold;
}
.menu {
    display: flex;
    flex: 1;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}

.box {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 2;
  color: var(--main-color);
  background: #cbfa86;
}



a:hover {     
  background: #91d855;
}

header nav p {
  
  color: var(--main-color)
}

nav .pic {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-direction: center;
}
